<?xml version="1.0" encoding="utf-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

   <localRepository>/.m2/repository</localRepository>
   <profiles>
      <profile>
         <id>jboss-public-repository</id>
         <repositories>
            <repository>
               <id>jboss-public-repository-group</id>
               <name>JBoss Public Maven Repository</name>
               <url>https://repository.jboss.org/nexus/content/groups/public-jboss/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>jboss-public-repository-group</id>
               <name>JBoss Public Maven Repository</name>
               <url>https://repository.jboss.org/nexus/content/groups/public-jboss/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>jboss-fusesource-repository</id>
         <repositories>
            <repository>
               <id>jboss-fusesource-repository-group</id>
               <name>JBoss FuseSource Maven Repository</name>
               <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>jboss-fusesource-repository-group</id>
               <name>JBoss FuseSource Maven Repository</name>
               <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>jboss-developer-repository</id>
         <repositories>
            <repository>
               <id>jboss-developer-repository-group</id>
               <name>JBoss developer Maven Repository</name>
               <url>https://repository.jboss.org/nexus/content/groups/developer/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>jboss-developer-repository-group</id>
               <name>JBoss developer Maven Repository</name>
               <url>https://repository.jboss.org/nexus/content/groups/developer/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>jboss-earlyaccess-repository</id>
         <repositories>
            <repository>
               <id>jboss-earlyaccess-repository-group</id>
               <name>JBoss Early Access Maven Repository</name>
               <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>jboss-earlyaccess-repository-group</id>
               <name>JBoss Early Access Maven Repository</name>
               <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>jboss-techpreview-repository</id>
         <repositories>
            <repository>
               <id>jboss-techpreview-repository-group</id>
               <name>JBoss Techpreview Maven Repository</name>
               <url>http://maven.repository.redhat.com/techpreview/all/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>jboss-techpreview-repository-group</id>
               <name>JBoss Techpreview Maven Repository</name>
               <url>http://maven.repository.redhat.com/techpreview/all/</url>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>
   <activeProfiles>
      <activeProfile>jboss-public-repository</activeProfile>
      <activeProfile>jboss-developer-repository</activeProfile>
      <activeProfile>jboss-fusesource-repository</activeProfile>
      <activeProfile>jboss-earlyaccess-repository</activeProfile>
      <activeProfile>jboss-techpreview-repository</activeProfile>
   </activeProfiles>
</settings>
